# SPDX-FileCopyrightText: Stone Tickle <lattis@mochiro.moe>
# SPDX-License-Identifier: GPL-3.0-only

*
!*.wrap
!.gitignore
!bestline
!bestline/README.md
!bestline/bestline.c
!bestline/bestline.h
!bestline/meson.build
!tinyjson
!tinyjson/tiny-json.c
!tinyjson/tiny-json.h
!tinyjson/meson.build
!tinyjson/README.md
