# SPDX-FileCopyrightText: Stone Tickle <lattis@mochiro.moe>
# SPDX-License-Identifier: GPL-3.0-only

.meson-subproject-wrap-hash.txt
subprojects/glad
subprojects/glfw3
subprojects/imgui
subprojects/libarchive-3.7.9
subprojects/meson-docs
subprojects/meson-tests
subprojects/packagecache
subprojects/pkgconf
subprojects/tracy
