/*
 * SPDX-FileCopyrightText: Stone Tickle <lattis@mochiro.moe>
 * SPDX-License-Identifier: GPL-3.0-only
 */

body {
  max-width: 700px;
  margin: auto;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: #282A36;
      color: #F8F8F2;
  }
  a {
    color: #8BE9FD;
  }

  small {
    color: #e8e8e2;
  }
}

nav div {
  padding: 10px;
  padding-left: 20px;
  display: block;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 40px;
}

.logo small {
  font-size: 10px;
}

.logo_text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
