# SPDX-FileCopyrightText: Stone Tickle <lattis@mochiro.moe>
# SPDX-License-Identifier: GPL-3.0-only

name: illumos

on:
  push:
    branches:
      - master
      - '[0-9]+.[0-9]+'
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened]

jobs:
  omnios:
    name: OmniOS
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: CI in OmniOS
      uses: vmactions/omnios-vm@v1
      with:
        usesh: true
        prepare: |
          pkg install developer/gcc14
        run: |
          CC=gcc ./bootstrap.sh build
          ./build/muon-bootstrap -v build build
          ./build/muon -C build test -d dots
