# SPDX-FileCopyrightText: Stone Tickle <lattis@mochiro.moe>
# SPDX-FileCopyrightText: Vincent Torri <vtorri@outlook.fr>
# SPDX-License-Identifier: GPL-3.0-only

name: msys2

on:
  push:
    branches:
      - master
      - '[0-9]+.[0-9]+'
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        include:
          - { sys: mingw32, cc: gcc, runs-on: 'windows-latest' }
          - { sys: mingw64, cc: gcc, runs-on: 'windows-latest' }
          - { sys: ucrt64, cc: gcc, runs-on: 'windows-latest' }
          - { sys: clang64, cc: clang, runs-on: 'windows-latest' }
          - { sys: clangarm64, cc: clang, runs-on: 'windows-11-arm' }
    name: ${{ matrix.sys }}
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: 'Checkout'
      uses: actions/checkout@master
    - name: 'Setup msys2'
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{ matrix.sys }}
        update: true
        install: >-
          git
        pacboy: >-
          toolchain:p
          pkgconf:p
          curl:p
          libarchive:p
    - name: 'Build'
      run: |
        CC="${{ matrix.cc }} -std=c99"  ./bootstrap.sh build
        CC="${{ matrix.cc }} -std=c99" ./build/muon-bootstrap.exe setup build
        build/muon-bootstrap.exe -C build samu
    - name: 'Tests'
      run: |
        ./build/muon.exe -C build test -v -ddots
