# SPDX-FileCopyrightText: Stone Tickle <lattis@mochiro.moe>
# SPDX-License-Identifier: GPL-3.0-only

name: solaris

on:
  push:
    branches:
      - master
      - '[0-9]+.[0-9]+'
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened]

jobs:
  omnios:
    name: OmniOS
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: CI in OmniOS
      uses: vmactions/omios-vm@v1
      with:
        usesh: true
        prepare: |
          pkg install curl libarchive pkgconf
        run: |
          bootstrap.sh build
          ./build/muon-bootstrap.exe setup build

  openindiana:
    name: OpenIndiana
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: CI in OpenIndiana
      uses: vmactions/omios-vm@v1
      with:
        usesh: true
        prepare: |
          pkg install curl libarchive pkgconf
        run: |
          bootstrap.sh build
          ./build/muon-bootstrap.exe setup build
